[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
multidict = "*"
werkzeug = "*"

[dev-packages]
pytest-cov = "*"
ipython = "*"
pylint = "*"
"autopep8" = "*"
ipdb = "*"
mypy = "*"
daphne = "*"
twisted = {version = "*", extras = ["http2", "tls"]}
httptools = "*"
black = "*"
pytest = "*"
pytest-asyncio = "*"
aiohttp = "*"
uvicorn = "*"
starlette = "*"
requests = "*"
isort = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
